
:root {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

/* You can now use these custom properties in your CSS */
.bg-midnight {
  background-color: var(--color-midnight);
}

.bg-tahiti {
  background-color: var(--color-tahiti);
}

.bg-bermuda {
  background-color: var(--color-bermuda);
}

.text-midnight {
  color: var(--color-midnight);
}

.text-tahiti {
  color: var(--color-tahiti);
}

.text-bermuda {
  color: var(--color-bermuda);
}