{% extends 'base.html' %}

{% block content %}
<h1>Votes nominaux du Grand Conseil de Genève</h1>
<div>
    <p>
        Cette application a pour but de filtrer les votes personnels des députés du Grand Conseil de Genève. Elle permet
        de filtrer les projets de lois par les rubriques et chapitres du Registre Systématique de Genève (RSge)
    </p>
    <p>
        La base de données a été récupérée avec le project Open Parl Data. L'application couvre les votes de la
        législature actuelle (2023-2028), du 11 mai 2023 au 15 février 2025 (date du téléchargement des des données).82
        votes affaires avec lesquelles le code RSGE a pu être identifié.
    </p>
    <p>
        Source:
    </p>
    <ul>
        <li>
            <a href="https://gitlab.com/opendata.ch/openparldatach">OpenParlData</a>
        </li>
        <li>
            <a href="https://silgeneve.ch/legis/">SILGENEVE PUBLIC</a>
        </li>
    </ul>
</div>

<div>
    <h1> Méthodes et limitations</h1>
    <h2> Dernier débat</h2>
    <p>
        Uniquement le dernier débat est présenté.
    </p>
    <h2> Qualité des données</h2>
    <p> Comme les données ont été scrapés à partir de liens du Grand Conseil et des documents PDFs, il y a des chances ques les données comportent des erreurs. Veuillez me les signaler pour que je puisse mettre à jour.</p>
</div>
<div>
<h1>A propos de moi</h1>
    <a href="https://www.linkedin.com/in/yannsay/">Ma page LinkedIn</a>
    
</div>

{% endblock %}