{% extends 'base.html' %}
{% block title %}Selection{% endblock %}
{% block content %}
<!-- Main content -->
<div class="selection-container">
    <!-- Block for all rubriques -->
    <div class="rubriques-container">
        {% for rubrique, chapters in rsge_dict.items %}
        <!-- Block for a single rubrique (including all chapters) -->
        <div class="rubrique-container">
            <!-- Rubrique header -->
            <div class="rubrique-header">
                <a href="table-votes?param1={{ rubrique }}" class="rubrique-link">
                    <h2>{{ rubrique }}</h2>
                </a>
            </div>

            <!-- Block for all chapters -->
            <div class="chapters-container">
                {% for chapter in chapters %}
                <!-- Block for single chapter -->
                <a href="table-votes?param1={{ rubrique }}&param2={{ chapter }}" class="chapter-link">
                    <div class="chapter-block">
                        {{ chapter }}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
</div>
{% endblock %}
